<section class="hero_section">
  <div class="hero_container">
    <div class="hero_article">
      <div class="hero_rubric"><span>Read in Vegan</span></div>
      <h1 class="hero_title">Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
      <p class="hero_subtitle">Lorem, ipsum dolor.</p>
    </div>
    <div class="hero_separator"></div>
    <div class="hero_article_second">
      <div class="rubric">Beakery</div>
      <h3 class="hero_title_second">Best Recipe of the week: Keto-friendly Brownies.</h3>
    </div>
    <div class="hero_separator"></div>
    <div class="hero_article_second">
      <div class="rubric">Healthy</div>
      <h3 class="hero_title_second">Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="hero_separator"></div>
    <div class="new_release">
      <span class="number">+12 </span> <span class="release">New Recipes</span>
    </div>
  </div>
</section>

<section class="latest_articles">
  <h3 class="section_title"><span> </span>Fresh from the oven : New Topics</h3>
  <div class="latest_articles_container">
          <div class="latest_article">
              <img class="latest_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
              <div class="latest_article_text">
                <h2 class="latest_article_text_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <p class="latest_article_text_short">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rem sit porro vitae optio, voluptates saepe fugiat natus laborum earum!
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt magni saepe laudantium voluptatum totam natus?
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum consequatur et distinctio exercitationem, voluptas nam aliquid cumque vitae neque! Quae!
                </p>
                <div class="latest_article_text_meta">
                  <span class="rubric">Read it in Vegan </span><span class="author">By Dr.Calypso</span>
                </div>
              </div>
          </div>
          <div class="latest_recipe">
            <div class="recipe_card_img">
              <img class="recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
              <div class="recipe_card_image_meta">
                <span class="like"><i class="fas fa-heart"> 31</i></span>
              </div>
            </div>
            <h3 class="recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
            <p class="recipe_card_title_stats">
              <span class="fat_carb">Fats 70% | 5% Carbs</span>
              <span class="time"><i class="far fa-clock"></i> 30min</span>
            </p>
          </div>
          <div class="latest_video">
              <div class="recipe_card_img">
                <img class="recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                <div class="recipe_card_image_meta">
                  <span class="like"><i class="fas fa-heart"> 31</i></span>
                </div>
              </div>
              <h3 class="recipe_video_title">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</h3>
              <div class="recipe_video_tags">
                <span class="tag">#DIY</span><span class="tag">#Vegan</span><span class="tag">#avocado</span>
              </div>
          </div>
          <div class="latest_topic">
              <p class="topic1"><span class="static">New Topic:</span><span class="new_topic"> The Avocado week</span></p>
              <p class="topic2"><span class="static">New Category added:</span><span class="new_topic"> Keto-friendly</span></p>
          </div>
          <div class="latest_aside">
            <div class="latest_aside_adv">
              <img class="adv_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
            </div>
            <div class="latest_aside_trends">
              <h3>Top 5 Articles</h3>
              <div class="trend_articles">
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <div class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</div>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
              </div>
            </div>
            <div class="adv">
              <div class="adv_img"></div>
            </div>
          </div>
  </div>
</section>

<section class="top_recipes">
  <h3 class="section_dark_title"><span> </span>Top 5: Most popular recipes of the week</h3>
  <div class="top_recipe_cards_container">
    <div class="top_recipe_card">
      <div class="top_recipe_card_img">
        <img class="top_recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
        <div class="top_recipe_card_image_meta">
          <span class="like"><i class="fas fa-heart"> 31</i></span>
        </div>
      </div>
      <h3 class="top_recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      <p class="top_recipe_card_title_stats">
        <span class="fat_carb">Fats 70% | 5% Carbs</span>
        <span class="time"><i class="far fa-clock"></i> 30min</span>
      </p>
    </div>
    <div class="top_recipe_card">
      <div class="top_recipe_card_img">
        <img class="top_recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
        <div class="top_recipe_card_image_meta">
          <span class="like"><i class="fas fa-heart"> 31</i></span>
        </div>
      </div>
      <h3 class="top_recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      <p class="top_recipe_card_title_stats">
        <span class="fat_carb">Fats 70% | 5% Carbs</span>
        <span class="time"><i class="far fa-clock"></i> 30min</span>
      </p>
    </div>
    <div class="top_recipe_card">
      <div class="top_recipe_card_img">
        <img class="top_recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
        <div class="top_recipe_card_image_meta">
          <span class="like"><i class="fas fa-heart"> 31</i></span>
        </div>
      </div>
      <h3 class="top_recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      <p class="top_recipe_card_title_stats">
        <span class="fat_carb">Fats 70% | 5% Carbs</span>
        <span class="time"><i class="far fa-clock"></i> 30min</span>
      </p>
    </div>
    <div class="top_recipe_card">
      <div class="top_recipe_card_img">
        <img class="top_recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
        <div class="top_recipe_card_image_meta">
          <span class="like"><i class="fas fa-heart"> 31</i></span>
        </div>
      </div>
      <h3 class="top_recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      <p class="top_recipe_card_title_stats">
        <span class="fat_carb">Fats 70% | 5% Carbs</span>
        <span class="time"><i class="far fa-clock"></i> 30min</span>
      </p>
    </div>
    <div class="top_recipe_card">
      <div class="top_recipe_card_img">
        <img class="top_recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
        <div class="top_recipe_card_image_meta">
          <span class="like"><i class="fas fa-heart"> 31</i></span>
        </div>
      </div>
      <h3 class="top_recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      <p class="top_recipe_card_title_stats">
        <span class="fat_carb">Fats 70% | 5% Carbs</span>
        <span class="time"><i class="far fa-clock"></i> 30min</span>
      </p>
    </div>
  </div>
</section>

<section class="latest_articles">
  <h3 class="section_title"><span> </span>Issue of the week: Magical Avocado</h3>
  <div class="latest_articles_container">
          <div class="latest_article">
              <img class="latest_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
              <div class="latest_article_text">
                <h2 class="latest_article_text_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <p class="latest_article_text_short">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rem sit porro vitae optio, voluptates saepe fugiat natus laborum earum!
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt magni saepe laudantium voluptatum totam natus?
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum consequatur et distinctio exercitationem, voluptas nam aliquid cumque vitae neque! Quae!
                </p>
                <div class="latest_article_text_meta">
                  <span class="rubric">Read it in Vegan </span><span class="author">By Dr.Calypso</span>
                </div>
              </div>
          </div>
          <div class="latest_recipe">
            <div class="recipe_card_img">
              <img class="recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
              <div class="recipe_card_image_meta">
                <span class="like"><i class="fas fa-heart"> 31</i></span>
              </div>
            </div>
            <h3 class="recipe_card_title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
            <p class="recipe_card_title_stats">
              <span class="fat_carb">Fats 70% | 5% Carbs</span>
              <span class="time"><i class="far fa-clock"></i> 30min</span>
            </p>
          </div>
          <div class="latest_video">
              <div class="recipe_card_img">
                <img class="recipe_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                <div class="recipe_card_image_meta">
                  <span class="like"><i class="fas fa-heart"> 31</i></span>
                </div>
              </div>
              <h3 class="recipe_video_title">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</h3>
              <div class="recipe_video_tags">
                <span class="tag">#DIY</span><span class="tag">#Vegan</span><span class="tag">#avocado</span>
              </div>
          </div>
          <div class="latest_topic">
              <p class="topic1"><span class="static">New Topic:</span><span class="new_topic"> The Avocado week</span></p>
              <p class="topic2"><span class="static">New Category added:</span><span class="new_topic"> Keto-friendly</span></p>
          </div>
          <div class="latest_aside">
            <div class="latest_aside_adv">
              <img class="adv_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
            </div>
            <div class="latest_aside_trends">
              <h3>Top 5 Articles</h3>
              <div class="trend_articles">
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <div class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</div>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="trend_article">
                  <img class="trend_article_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
                  <p class="trend_article_text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.</p>
                </div>
              </div>
            </div>
            <div class="adv">
              <div class="adv_img"></div>
            </div>
          </div>
  </div>
</section>

<section class="top_authors">
  <h3 class="section_dark_title"><span> </span>Top 5: The most read authors</h3>
  <div class="top_author_cards_container">

      <div class="top_author_card">
        <div class="top_author_card_img">
          <img class="top_author_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
          <div class="top_author_card_image_meta">
            <span class="like">Check the author profile</span>
          </div>
        </div>
        <h3 class="top_author_card_title">Dr Calypso , Nutritionist</h3>
        <p class="top_author_card_title_stats">
          <span class="stars"><i class="fas fa-star"></i> 22</span>
          <span class="pages"><i class="fab fa-pagelines"></i> 30 Articles</span>
        </p>
      </div>

      <div class="top_author_card">
        <div class="top_author_card_img">
          <img class="top_author_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
          <div class="top_author_card_image_meta">
            <span class="like">Check the author profile</span>
          </div>
        </div>
        <h3 class="top_author_card_title">Dr Calypso , Nutritionist</h3>
        <p class="top_author_card_title_stats">
          <span class="stars"><i class="fas fa-star"></i> 22</span>
          <span class="pages"><i class="fab fa-pagelines"></i> 30 Articles</span>
        </p>
      </div>

      <div class="top_author_card">
        <div class="top_author_card_img">
          <img class="top_author_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
          <div class="top_author_card_image_meta">
            <span class="like">Check the author profile</span>
          </div>
        </div>
        <h3 class="top_author_card_title">Dr Calypso , Nutritionist</h3>
        <p class="top_author_card_title_stats">
          <span class="stars"><i class="fas fa-star"></i> 22</span>
          <span class="pages"><i class="fab fa-pagelines"></i> 30 Articles</span>
        </p>
      </div>

      <div class="top_author_card">
        <div class="top_author_card_img">
          <img class="top_author_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
          <div class="top_author_card_image_meta">
            <span class="like">Check the author profile</span>
          </div>
        </div>
        <h3 class="top_author_card_title">Dr Calypso , Nutritionist</h3>
        <p class="top_author_card_title_stats">
          <span class="stars"><i class="fas fa-star"></i> 22</span>
          <span class="pages"><i class="fab fa-pagelines"></i> 30 Articles</span>
        </p>
      </div>

      <div class="top_author_card">
        <div class="top_author_card_img">
          <img class="top_author_card_img_img" src=<%=asset_path("hero_background.jpg")%> alt="latest_article">
          <div class="top_author_card_image_meta">
            <span class="like">Check the author profile</span>
          </div>
        </div>
        <h3 class="top_author_card_title">Dr Calypso , Nutritionist</h3>
        <p class="top_author_card_title_stats">
          <span class="stars"><i class="fas fa-star"></i> 22</span>
          <span class="pages"><i class="fab fa-pagelines"></i> 30 Articles</span>
        </p>
      </div>

  </div>
  
</section>

<section class="issues">
  <h3 class="section_title"><span> </span>Avocado week</h3>
  <div class="issue_article_container">
    <div class="issue_article_img">IMG</div>
    <div class="issue_article_rubric">vegan</div>
    <h1 class="issue_article_title">Lorem ipsum dolor sit amet consectetur.</h1>
    <p class="issue_article_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dolore?</p>
  </div>
  <div class="issue_ad_panel">AD</div>
  <div class="issue_video">
    <div class="issue_video_vdo">Video</div>
    <div class="issue_video_title">Lorem ipsum dolor sit.</div>
    <div class="issue_video_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, iure officia.</div>
  </div>
  <div class="issue_recipe_container">
    <div class="issue_recipe_card"></div>
  </div>
</section>

<section class="featured_tag">
  <h1 class="section_title"><span> </span>Top 5 Featured Topics</h1>
  <div class="featured_tag_card">
    <p class="featured_tag_card_title">Avocado</p>
    <p class="featured_tag_card_stats">31 Recipes | 20 Articles | 31 Likes</p>
  </div>
  <div class="featured_tag_card">
    <p class="featured_tag_card_title">Avocado</p>
    <p class="featured_tag_card_stats">31 Recipes | 20 Articles | 31 Likes</p>
  </div>
  <div class="featured_tag_card">
    <p class="featured_tag_card_title">Avocado</p>
    <p class="featured_tag_card_stats">31 Recipes | 20 Articles | 31 Likes</p>
  </div>
  <div class="featured_tag_card">
    <p class="featured_tag_card_title">Avocado</p>
    <p class="featured_tag_card_stats">31 Recipes | 20 Articles | 31 Likes</p>
  </div>
</section>

<section class="editor_picks">

  <h3 class="section_title"><span> </span>Editor Picks</h3>

  <div class="gallery_container">
    <div class="gallery_item">
      <a href="#" class="gallery_item">
        <div class="gallery_item_text">
          <h2 class="gallery_item_text_title">Lorem ipsum dolor sit amet.</h2>
          <p class="gallery_item_text_txt"></p>
        </div>
        IMG
      </a>
    </div>
    <div class="gallery_item">
      <a href="#" class="gallery_item">
        <div class="gallery_item_text">
          <h2 class="gallery_item_text_title">Lorem ipsum dolor sit amet.</h2>
          <p class="gallery_item_text_txt"></p>
        </div>
        img
      </a>
    </div>
    <div class="gallery_item">
      <a href="#" class="gallery_item">
        <div class="gallery_item_text">
          <h2 class="gallery_item_text_title">Lorem ipsum dolor sit amet.</h2>
          <p class="gallery_item_text_txt"></p>
        </div>
        img
      </a>
    </div>
    <div class="gallery_item">
      <a href="#" class="gallery_item">
        <div class="gallery_item_text">
          <h2 class="gallery_item_text_title">Lorem ipsum dolor sit amet.</h2>
          <p class="gallery_item_text_txt"></p>
        </div>
      </a>
    </div>
    <div class="gallery_item">
      <a href="#" class="gallery_item">
        <div class="gallery_item_text">
          <h2 class="gallery_item_text_title">Lorem ipsum dolor sit amet.</h2>
          <p class="gallery_item_text_txt"></p>
        </div>
      </a>
    </div>
  </div>

</section>
